<h1>Stupid Couching</h1>
<div class="card">
  <p class="content">-- <%= @question %></p>
  <p class="content">-- You</p>
</div>
<div class="card answer">
  <p class="content">-- <%= @answer %></p>
  <p class="content">-- Your couch</p>
</div>
<%= link_to "Ask again", "/ask", class: "btn btn-primary"  %>
