<h1>Stupid Couching</h1>
<div class="form">
  <h2>Ask your couch anything:</h2>
  <form action="/answer" method="get" class="form-inline">
    <div class="form-group">
      <input type="text" name="question" placeholder="Say something" class="form-control">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
